In [14]:
import pandas as pd
import json

In [40]:
pd.read_json('findata.json')

,Auslands-kv.,BU-Versicherung,Einkommen,GEZ,Kfz-Versicherung,Krankenversicherung,Miete,Privathaftpflicht,Reisen,Safety Margin,Spaß,Spenden,Strom,Telefon,Unterhalt,monat
0,-0.75,-83.52,5475,-17.5,-47.5,-842,-1030,-3.5,-300,-50,-15,-35,-40,-53,-914,july 2019